/* * {
    border: 1px solid red;
} */
html {
  scroll-behavior: smooth;
}
:root {
  --ff-primary: "Nunito", sans-serif;
  --ff-secondary: "Roboto", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  /* night mode */
  --clr-off-white: rgb(250, 249, 246);
  --clr-dark-base: rgb(7, 34, 39);
  --clr-dark-75op: rgba(7, 34, 39, 0.75);
  --clr-teal-accent: rgb(53, 133, 139);
  --clr-teal-50op: rgba(53, 133, 139, 0.5);
  --clr-aqua-accent: rgb(79, 189, 186);
  --clr-aqua-50op: rgba(79, 189, 186, 0.5);
  --clr-light: rgb(174, 254, 255);

  /* day mode */

  --clr-day-blue: #64c9cf;
  --clr-day-paleyellow: #fde49c;
  --clr-day-gold: rgb(255, 183, 64);
  --clr-day-orange: #df711b;
  --clr-day-drk: #cc5901;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

  --ts: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

body {
  font-family: var(--ff-secondary);
  margin: 0;
  background-color: var(--clr-off-white);
  line-height: 1.5;
  color: var(--clr-dark-75op);
}

.container {
  max-width: 650px;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--clr-dark-base);

  background-image: linear-gradient(
    var(--clr-dark-base) 80%,
    var(--clr-teal-accent) 80%,
    var(--clr-teal-accent),
    var(--clr-aqua-accent),
    var(--clr-aqua-accent),
    var(--clr-light)
  );
  color: var(--clr-off-white);
  position: relative;
  overflow: hidden;
  transition: opacity 300ms;
}

header.project-header {
  height: 50vh;
  align-items: center;
}

header.project-header h1 {
  margin-top: 50px;
}

/* theme toggle */

.sticky-bar {
  display: flex;
  position: fixed;
  top: 32px;
  right: 65px;
  align-items: center;
  transition: all 250ms ease-in-out;
}

.toggle-btn {
  width: 50px;
  height: 25px;
  background-color: var(--clr-teal-accent);
  border-radius: 20px;
  padding: 5px;
  transform: translateX(25px);
  transition: all 300ms ease-in-out;
  z-index: 20;
  cursor: pointer;
}

header.daymode.scrolled .toggle-btn.active,
.toggle-btn.active {
  background: var(--clr-day-gold);
  transition: all 250ms ease-in-out;
}

.toggle-btn.active {
  transform: translateX(-6px);
  transition: all 300ms ease-in-out;
}

.toggle-btn.active > .toggle-switch {
  margin-left: 25px;
}

.toggle-btn > .toggle-switch {
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 25px;
  transition: all 300ms ease-in-out;
}

header.daymode .fa-moon,
.fa-sun {
  font-size: 20px;
  opacity: 0;
  transition: all 300ms ease-in;
}
.fa-sun {
  margin-left: 10px;
  margin-right: 5px;
}

.fa-moon {
  font-size: 20px;
  color: var(--clr-aqua-50op);
  margin-right: 7px;
  transform: translateX(20px);
}

.fa-moon,
header.daymode .fa-sun {
  opacity: 100%;
  transition: all 300ms ease-in;
}

header.daymode .fa-sun {
  font-size: 23px;
  color: var(--clr-day-gold);
  transform: translateX(-5px);
}

.theme-transition-background {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    var(--clr-day-orange),
    var(--clr-day-gold),
    var(--clr-day-gold),
    var(--clr-day-paleyellow),
    var(--clr-day-paleyellow) 80%,
    var(--clr-teal-accent) 80%,
    var(--clr-teal-accent),
    var(--clr-aqua-accent),
    var(--clr-aqua-accent),
    var(--clr-light) 97%
  );
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

header.daymode .theme-transition-background {
  opacity: 100;
  transition: opacity 500ms ease-in-out;
}

/* stars */

.fa-star {
  opacity: 55%;
  border-radius: 50%;
  position: absolute;
  transition: background-color 3s ease-out, box-shadow 3s ease-out,
    opacity 3s ease-out, transform 1s ease-out;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0);
  z-index: 5;
}
.fa-star:hover,
.fa-star.fired {
  opacity: 95%;
  transition: all 1000ms ease-in;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.2);
}

.ast-1 {
  font-size: 8px;
  top: 15%;
  left: 50%;
  transform: rotate(15deg);
}
.ast-2 {
  font-size: 12px;
  top: 30%;
  right: 25%;
}
.ast-3 {
  font-size: 7px;
  top: 67%;
  left: 10%;
}
.ast-4 {
  font-size: 10px;
  top: 20%;
  left: 14%;
  transform: rotate(15deg);
}
.ast-5 {
  font-size: 12px;
  top: 60%;
  right: 15%;
  transform: rotate(13deg);
  font-size: 4px;
}
.ast-6 {
  left: 33%;
  top: 25%;
  font-size: 9px;
  transform: rotate(15deg);
}
.ast-7 {
  right: 5%;
  top: 15%;
  font-size: 7px;
  transform: rotate(23deg);
}
.ast-8 {
  left: 5%;
  top: 10%;
  font-size: 9px;
}
.ast-9 {
  right: 35%;
  top: 20%;
  font-size: 7px;
  transform: rotate(10deg);
}
.ast-10 {
  top: 7%;
  right: 15%;
  font-size: 7px;
}
.ast-11 {
  top: 45%;
  left: 5%;
  font-size: 7px;
}
.ast-12 {
  right: 30%;
  top: 46%;
  font-size: 4px;
}
.ast-13 {
  font-size: 7px;
  top: 7%;
  left: 25%;
}
.ast-14 {
  font-size: 7px;
  top: 10%;
  right: 18%;
}
.ast-15 {
  top: 4%;
  left: 50%;
  font-size: 6px;
}

header.daymode .circle,
header.daymode .fa-star {
  transform: translateY(-20px);
  transition: all 300ms ease-in;
  opacity: 0%;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: white;
  opacity: 55%;
  border-radius: 50%;
  position: absolute;
  transition: background-color 3s ease-out, box-shadow 3s ease-out,
    opacity 3s ease-out, transform 1s ease-out;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0);
  z-index: 5;
}

.circle:hover,
.circle.fired {
  opacity: 95%;
  transition: all 1000ms ease-in;
  box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.2);
}

.circle-1 {
  top: 10%;
  right: 30%;
  width: 3px;
  height: 3px;
}
.circle-2- {
  top: 20%;
  right: 10%;
  width: 5px;
  height: 5px;
}
.circle-3 {
  top: 30%;
  right: 50%;
  width: 8px;
  height: 8px;
}
.circle-4 {
  top: 24%;
  right: 55%;
  width: 5px;
  height: 5px;
}
.circle-5 {
  top: 30%;
  right: 80%;
  width: 3px;
  height: 3px;
}
.circle-6 {
  top: 30%;
  right: 5%;
  width: 5px;
  height: 5px;
}
.circle-7 {
  top: 13%;
  right: 66%;
  width: 4px;
  height: 4px;
}
.circle-8 {
  top: 3%;
  right: 90%;
  width: 3px;
  height: 3px;
}
.circle-9 {
  top: 33%;
  right: 98%;
  width: 5px;
  height: 5px;
}
.circle-10 {
  top: 37%;
  right: 70%;
  width: 3px;
  height: 3px;
}

/* clouds */

.fa-cloud {
  position: absolute;
  color: var(--clr-off-white);
  opacity: 35%;
  transition: all 500ms ease-in;
  padding: 5px;
  z-index: 5;
  animation-fill-mode: forwards;
}

.fa-cloud:hover {
  opacity: 65%;
  transition: all 300ms ease-in;
}

.cloud-1 {
  font-size: 85px;
  top: 25%;
  left: 18%;
  animation-name: floatFar;
  animation-duration: 120s;
}

.cloud-2 {
  font-size: 95px;
  top: 31%;
  left: 12%;
  animation-name: floatClose;
  animation-duration: 100s;
}
.cloud-3 {
  font-size: 75px;
  top: 45%;
  right: 30%;
  animation-name: floatFar;
  animation-duration: 120s;
}

.cloud-4 {
  font-size: 65px;
  top: 22%;
  right: 15%;
  animation-name: floatClose;
  animation-duration: 85s;
}

@keyframes floatClose {
  from{transform: translateX(0) scalex(2);}
  to{transform: translateX(100%) scalex(2);}
}

@keyframes floatFar {
  from{transform: translateX(0) scalex(1.4);}
  to{transform: translateX(100%) scalex(1.4);}
}

/* header */

.header-container {
  display: flex;
  flex-direction: column;
}

header h1 {
  margin: 0;
  font-size: 3rem;
  text-shadow: 2px 2px var(--clr-teal-accent);
  /* font-family: var(--ff-primary); */
}

header p {
  display: inline;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 1px;
}

.header-content {
  z-index: 2;
}

button.cta-btn {
  padding: 7px 25px;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75);
  background-color: var(--clr-teal-50op);
  border: 2px solid var(--clr-teal-50op);
  margin-right: 10px;
  transition: all 500ms ease-in;
  box-shadow: var(--bs);
}

button.cta-btn:hover {
  background-color: var(--clr-teal-accent);
  transition: all 300ms ease-in;
}

header.daymode button.cta-btn {
  background: var(--clr-day-gold);
  border: 1px solid var(--clr-day-gold);
  color: white;
}

header.daymode button.cta-btn:hover {
  background: var(--clr-day-orange);
}

header.daymode p {
  color: white;
  text-shadow: 2px 2px var(--clr-teal-accent);
}

header p::after {
  content: "";
  display: block;
  width: 50%;
  margin-bottom: 0.75em;
  border-bottom-style: solid;
  border-width: 10px;
  border-image: linear-gradient(
      45deg,
      rgba(53, 133, 139, 0.5),
      rgba(79, 189, 186, 0.5),
      rgba(174, 254, 255, 0.5)
    )
    1;
}

header.daymode p::after {
  border-image: linear-gradient(
      45deg,
      var(--clr-day-paleyellow),
      var(--clr-day-gold),
      var(--clr-day-orange)
    )
    1;
}

/* navigation */

nav {
  position: fixed;
  background: var(--clr-dark-base);
  color: var(--clr-off-white);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateY(105%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

header.daymode nav {
  background: var(--clr-day-drk);
}

.nav-list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--clr-accent);
}

.nav-item {
  width: 100%;
  padding: 4em;
  text-align: center;
  transition: transform 200ms ease;
}

.nav-item:hover {
  transform: translate(3px, -2px) scale(1.1);
  transition: transform 200ms ease;
}

.nav-item:nth-of-type(1) {
  background: rgb(174, 254, 255);
  text-shadow: 1px 2px var(--clr-aqua-accent);
}
.nav-item:nth-of-type(2) {
  background: var(--clr-aqua-accent);
  text-shadow: 1px 2px var(--clr-teal-accent);
}
.nav-item:nth-of-type(3) {
  background: var(--clr-teal-accent);
  text-shadow: 1px 2px var(--clr-dark-base);
}

header.daymode .nav-item:nth-of-type(1) {
  background: var(--clr-day-paleyellow);
  text-shadow: 1px 2px var(--clr-day-drk);
}
header.daymode .nav-item:nth-of-type(2) {
  background: var(--clr-day-gold);
  text-shadow: 1px 2px var(--clr-day-drk);
}
header.daymode .nav-item:nth-of-type(3) {
  background: var(--clr-day-orange);
  text-shadow: 1px 2px var(--clr-day-drk);
}
header.daymode .nav-item:nth-of-type(4) {
  background: var(--clr-day-drk);
  text-shadow: 1px 2px var(--clr-day-drk);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: fixed;
  right: 2em;
  top: 3em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.125turn);
}

.nav-open .hamburger::before {
  transform: rotate(-0.25turn) translateX(6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-off-white);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  box-shadow: 2px 3px var(--clr-dark-base);
  transition: transform 250ms ease-in-out;
  z-index: 1000;
}

header.daymode .hamburger,
header.daymode .hamburger::before,
header.daymode .hamburger::after {
  box-shadow: 2px 3px var(--clr-day-drk);
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 7px;
}
.hamburger::after {
  bottom: 7px;
}

/* svg designs */

header svg {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  fill-opacity: 25%;
  min-width: 1000px;
  width: 100%;
}

header.project-header svg {
  display: none;
}

header.daymode svg {
  fill-opacity: 40%;
}
.svg-1 {
  fill: var(--clr-teal-accent);
}

.svg-2 {
  fill: var(--clr-aqua-accent);
}

.svg-3 {
  fill: var(--clr-light);
}

header.daymode .svg-3 {
  fill-opacity: 25%;
}

.svg-4 {
  fill: var(--clr-aqua-accent);
}

header.scrolled .sticky-bar {
  transform: translateY(-10px);
  z-index: 20;
}

.mobile-bar {
  opacity: 0%;
  position: fixed;
  width: 100%;
  height: 80px;
  background: var(--clr-teal-accent);
  top: 0;
  display: flex;
  align-items: center;
  z-index: 5;
  transition: all 250ms ease-in-out;
}

.contact-container i {
  font-size: 2rem;
  margin-left: calc(0.3em + 2.5vw);
  color: white;
  cursor: pointer;
  opacity: 80%;
  transition: opacity 200ms ease-in-out;
}

.contact-container i:hover {
  opacity: 100%;
  transition: opacity 200ms ease-in-out;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {

  width: 120px;
  font-family: var(--ff-primary);
  font-size: 1rem;
  font-weight: 300;
  background-color: var(--clr-dark-75op);
  color: var(--clr-off-white);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  left: 100%;
  top: 3px;
  margin-left: 20px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
  transition: opacity 0.3s;
}

.contact-container a {
  text-decoration: none;
}

@media (max-width: 550px) {
  .mobile-bar span {
    opacity: 0%;
    transition: opacity 250ms ease-in-out;
  }

  .tooltip .tooltiptext {
    left: -110%;
    top: 100%;
    margin-top: 15px;
    margin-left: 0;
  }
}

header.scrolled button.nav-toggle {
  transform: translateY(-10px);
  transition: all 250ms ease-in-out;
}

header.scrolled .toggle-btn {
  background: var(--clr-dark-base);
  transition: all 250ms ease-in-out;
}

header.scrolled .mobile-bar {
  opacity: 100%;
  transition: all 250ms ease-in-out;
}

header.scrolled.daymode .mobile-bar {
  background-color: var(--clr-day-orange);
  transition: all 250ms ease-in-out;
  z-index: 15;
}

header.scrolled .hamburger,
header.scrolled .hamburger::before,
header.scrolled .hamburger::after {
  box-shadow: none;
}

@media (max-width: 500px) {
  header {
    height: 85vh;
  }

  header h1 {
    font-size: 2.2rem;
  }
  header p {
    font-size: 1rem;
  }

  header .CTA-buttons {
    margin-top: 2em;
  }

  .fa-star {
    display: none;
  }
  .circle {
    display: none;
  }

  .cloud-1 {
    font-size: 55px;
    top: 27%;
    left: 10%;
  }
}

/* sections & body */

section h2,
footer h2 {
  margin-top: 2em;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: var(--clr-dark-75op);
}

section h2::after,
footer h2::after {
  content: "";
  display: block;
  width: 25%;
  border-bottom-style: solid;
  border-width: 10px;
  border-image: linear-gradient(
      45deg,
      var(--clr-teal-accent),
      var(--clr-aqua-accent),
      var(--clr-light)
    )
    1;
}

section.daymode h2::after,
footer.daymode h2::after {
  border-image: linear-gradient(
      45deg,
      var(--clr-day-orange),
      var(--clr-day-gold),
      var(--clr-day-paleyellow)
    )
    1;
}

.dark-section {
  background: var(--clr-dark-base);
  transition: background-color 300ms ease-in;
}

section.daymode.dark-section,
footer.daymode.dark-section,
section.daymode .skills {
  background: var(--clr-day-drk);
  transition: background-color 300ms ease-in;
}

.skills-section h2 {
  margin-top: 4em;
}

.dark-section h2 {
  text-shadow: 1px 2px var(--clr-aqua-50op);
  color: var(--clr-off-white);
}

/* about section */

section.about-section {
  padding: 6em 0;
}

section a,
footer a {
  color: var(--clr-teal-accent);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: color 300ms ease;
}

section a:hover,
footer a:hover {
  color: var(--clr-aqua-accent);
  transition: color 300ms ease;
}

section.daymode a,
footer.daymode a {
  color: var(--clr-day-orange);
}

section.daymode a:hover,
footer.daymode a:hover {
  color: var(--clr-day-gold);
}

/* skills section */

.skill-btns {
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.skills-section button {
  padding: 10px 0;
  border: none;
  width: 48%;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  color: var(--clr-dark-base);
  transition: all 300ms;
}

.skill-btn-hidden {
  background: rgba(255, 255, 255, 0.3);
  transition: all 300ms;
}

.skills-section.daymode .skill-btns button {
  color: var(--clr-day-orange);
}

.skills-section.daymode .skill-btns .skill-btn-hidden {
  color: rgb(250, 242, 234);
}

.skills {
  padding: 2em 0;
  min-height: 300px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 15px 40px;
  background: var(--clr-dark-base);
  transition: background-color 300ms ease-in;
}

.skill-window {
  padding-bottom: 6em;
  width: 95%;
}

.box-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-off-white);
}

.box-icon i {
  font-size: 50px;
}

.box-icon p {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 400;
}

.hidden {
  display: none;
}

/* project section */

.projects-section h2 {
  margin-top: 4em;
}

.projects-section h3 {
  margin: 0;
}

span.construction {
  background: var(--clr-day-orange);
  font-size: 0.75em;
  border-radius: 10px;
  padding: 2px 7px;
  color: white;
  font-weight: 700;
  margin-left: 10px;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
  margin: 2em 0;
  padding-bottom: 3em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}

img.launch-site {
  width: 200px;
  height: 200px;
  object-fit: fill;
  border-radius: 10px;
  box-shadow: var(--bs);
  transition: all 300ms ease;
  z-index: 0;
}

img.launch-site:hover {
  transform: translateY(-10px);
  z-index: 0;
  box-shadow: 0.3em 0.7em 0.8em rgba(0, 0, 0, 0.45),
    0.15em 0.5em 0.3em rgba(0, 0, 0, 0.25);
  transition: all 300ms ease;
}

.project-description {
  padding-right: 4em;
  width: 75%;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 2em;
}

.project-skills li {
  list-style-type: none;
  padding: 3px 8px;
  border-radius: 3px;
  border: 2px solid var(--clr-teal-accent);
  color: var(--clr-teal-accent);
  margin: 5px 6px 0 0;
  font-weight: 700;
}

section.daymode .project-buttons button {
  background: var(--clr-day-orange);
  transition: background-color 300ms ease-in;
}

section.daymode .project-skills li {
  border: 2px solid var(--clr-day-orange);
  color: var(--clr-day-orange);
}

.project-buttons {
  margin-bottom: 4em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-buttons a {
  background: var(--clr-teal-accent);
  color: var(--clr-off-white);
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px 0;
  width: 100%;
  margin-right: 7px;
  text-align: center;
  transition: all 200ms ease-in;
  box-shadow: var(--bs);
}

section.daymode .project-buttons a {
  background-color: var(--clr-day-orange);
  color: var(--clr-off-white);
  transition: all 200ms ease-in;
}

.project-buttons a:hover {
  background: var(--clr-aqua-accent);
  color: var(--clr-off-white);
  transition: all 200ms ease-in;
}

section.daymode .project-buttons a:hover {
  background: var(--clr-day-gold);
  color: var(--clr-off-white);
  transition: background-color 200ms ease-in;
}

/* project html pages */

section.project-about img {
  border-radius: 10px;
  box-shadow: var(--bs);
}

section.project-about h3 {
  margin-top: 2em;
  text-transform: uppercase;
  font-size: 1.25 rem;
  letter-spacing: 2px;
  color: var(--clr-dark-75op);
  border-bottom: #404040 solid 3px;
}

img.project-cover-img {
  margin: 2em 0;
  align-self: center;
  width: 75%;
  object-fit: cover;
}

.project-img-multiple {
  margin: 2em 0;
  display: grid;
  align-items: start;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.project-img-multiple img {
  width: 100%;
}

.project-desc-img {
  width: 45%;
  margin: 1em 2.5em 1em 0;
  float: left;
}

.float-text {
  margin-bottom: 2em;
}

@media (max-width: 550px) {
  .project-desc-img {
    float: none;
    width: 100%;
  }
}

/* footer */

.footer-container {
  max-width: 650px;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .dark-section {
  width: 100%;
  margin: 0;
  
}

.credit {
    margin: 1em 0;
    padding: 1.5em 0;
    color: var(--clr-off-white);
    opacity: 65%;
}
.credit p {
  margin: 0;
}

.credit i {
margin-right: 10px;
}


@media (max-width: 650px) {
  .project {
    flex-direction: column;
  }

  .project-description {
    width: 90%;
    margin-bottom: 2em;
    order: 2;
  }

  .project-description h3 {
    font-size: 1.7rem;
  }

  .project-buttons {
    width: 100;
    margin-bottom: 2em;
  }

  img.launch-site {
    width: 90%;
    height: 100%;
    object-fit: cover;
    order: 0;
    margin-bottom: 3em;
    align-self: start;
  }
}
