body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.container{
    max-width: 550px;
    width: 95%;
    margin: 0 auto;
    text-align: left;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#072227 85%, #35858B 85%, #35858B 92%, #4FBDBA 92%, #4FBDBA 97%, #AEFEFF 97%);
    color: white;
    position: relative;
}

.header-container {
    display: flex;
    flex-direction: column;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    text-shadow: 2px 2px #3c8a97;
}

header p {
    margin: -.5em 0;
    display: inline-block;
    font-size: 1.5rem;
    border-bottom: 3px solid #deeede;
    margin-bottom: 3em;
}

header svg {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    fill-opacity: 25%;

}

.svg-1 {
    fill: #35858B
}

.svg-2 {
    fill: #4FBDBA;
}

.svg-3 {
    fill: #AEFEFF
}

section {
    margin: 2em 4em;
}


